[user]
	name = ari
	email = spam@ari.guru
[core]
	editor = nvim
	excludesfile = /Users/ari/.gitignore_global
[color]
	ui = true
[merge]
	tool = fugitive
[mergetool]
	prompt = false
[mergetool "fugitive"]
	cmd = vim -f -c \"Gdiff\" \"$MERGED\"
[include]
    path = /home/ari/.gituser_config
[alias]
	# Shows a tree of all the changes
	hist = log --graph --oneline --decorate --all

	# list files which have changed since REVIEW_BASE
	# (REVIEW_BASE defaults to 'master' in my zshrc)
	files = !git diff --name-only $(git merge-base HEAD \"$REVIEW_BASE\")

	# Same as above, but with a diff stat instead of just names
	# (better for interactive use)
	stat = !git diff --stat $(git merge-base HEAD \"$REVIEW_BASE\")


	# Open all files changed since REVIEW_BASE in Vim tabs
	# Then, run fugitive's :Gdiff in each tab, and finally
	# tell vim-gitgutter to show +/- for changes since REVIEW_BASE
	review = !vim -p $(git files) +\"tabdo Gdiff $REVIEW_BASE\" +\"let g:gitgutter_diff_base = '$REVIEW_BASE'\"

