#define BG_COLOR 	        #2f343f
#define INACTIVE_BG_COLOR   #2f343f
#define TEXT_COLOR          #f3f4f5
#define ACTIVE_TEXT_COLOR   #4084d6
#define INACTIVE_TEXT_COLOR #676E7D
#define URGENT_BG_COLOR     #E53935
! HELP
! https://wiki.archlinux.org/index.php/rxvt-unicode
!
! URxvt.font: xft:monaco:size=10
! URxvt.font: xft:Source Code Pro for Powerline:size=10:antialias=true
! URxvt.font: xft:Source\ Code\ Pro\ for\ Powerline:size=10:antialias=truehinting=true
! URxvt*font: xft:Source\ Code\ Pro\ Medium:pixelsize=13:antialias=true:hinting=true,xft:Source\ Code\ Pro\ Medium:pixelsize=13:antialias=true:hinting=true
! URxvt*font: xft:Source\ Code\ Pro\ for\ Powerline:pixelsize=13:antialias=true:hinting=true,xft:Source\ Code\ Pro\ for\ Powerline:pixelsize=13:antialias=true:hinting=true
URxvt*font: xft:SourceCodePro+Powerline+Awesome\ Regular:pixelsize=13:antialias=true:hinting=true,xft:SourceCodePro+Powerline+Awesome\ Regular:pixelsize=13:antialias=true:hinting=true

! URxvt.font: xft:SauceCodePro Nerd Font:size=10, xft:FontAwesome:size=9, xft:Icons:size:9



! ------------------------------------------------------------------------------
! ROFI Color theme
! Copyright: 2017 leofa
! ------------------------------------------------------------------------------
! "Color scheme for normal row" Set from: File
rofi.color-normal:                   BG_COLOR, ACTIVE_TEXT_COLOR, BG_COLOR, BG_COLOR, ACTIVE_TEXT_COLOR
! "Color scheme for urgent row" Set from: File
rofi.color-urgent:                   BG_COLOR, URGENT_BG_COLOR, BG_COLOR, BG_COLOR, URGENT_BG_COLOR
! "Color scheme for active row" Set from: File
rofi.color-active:                   BG_COLOR, #b5bd68, BG_COLOR, BG_COLOR, #8c9440
! "Color scheme window" Set from: File
rofi.color-window:                   BG_COLOR, BG_COLOR, BG_COLOR
! "Separator style (none, dash, solid)" Set from: XResources
rofi.separator-style:                none
